@page "/users"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@* <h3 class="page-header">
    Registered Users
    <button class="btn btn-success btn-sm register-btn" @onclick="OpenAddUserModal">+ New User</button>
</h3> *@

<div class="d-flex align-items-center">
    <h4 class="me-3">Registered Users
    <button class="btn btn-success btn-sm register-btn" @onclick="OpenAddUserModal">+ New User</button>
    </h4>
    <InputRadioGroup @bind-Value="IsShowActiveOnly" @bind-Value:after="ApplyFilterUser" class="d-flex align-items-center">
        <div class="form-check me-3">
            <InputRadio class="form-check-input" id="showActive" Value="true" style="cursor: pointer;" />
            <label class="form-check-label" for="showActive">Show Active</label>
        </div>
        <div class="form-check">
            <InputRadio class="form-check-input" id="showAll" Value="false" style="cursor: pointer;"/>
            <label class="form-check-label" for="showAll">Show All</label>
        </div>
    </InputRadioGroup>
</div>


@if (FilteredUsersList is null)
{
    <p>Loading...</p>
}
else if (!FilteredUsersList.Any())
{
    <p>No users found.</p>
}
else
{
    <table class="data-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Role</th>
                @* <th>IsActive</th> *@
                @* <th>Country</th> *@
                <th>State</th>
                <th>District</th>
                <th>Full Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in FilteredUsersList)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Role</td>
                    @* <td>@user.IsActive</td> *@
                    @* <td>@user.Country</td> *@
                    <td>@user.State</td>
                    <td>@user.District</td>
                    <td>@user.Address</td>
                    <td>
                        <div class="d-flex gap-2">
                            <button class="btn btn-sm" @onclick="() => EditUser(user)">
                                <EditViewIcon />
                            </button>
                            <button class="btn btn-sm" @onclick="() => DeleteUser(user.Id)"> 
                                <DeleteIcon />
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (IsCreateUpdatePopup)
{
    <div class="modal-overlay">
        <div class="modal-content">
            <RegisterUser OnClose="CloseAddUserModal" OnUserAddedOrUpdated="RefreshUserList" SelectedUserData="SelectedUser" IsCreateUpdateUserPopup="IsCreateUpdatePopup" />
        </div>
    </div>
}
