@page "/managePatients"
@inject IJSRuntime JSRuntime
@inject HttpClient Http
<div class="d-flex align-items-center">
    <h4 class="me-3">Registered Patients
    <button class="btn btn-success btn-sm register-btn" @onclick="OpenCreatePoup">+ New Patient</button>
    </h4>
    <InputRadioGroup @bind-Value="IsShowActiveOnly" @bind-Value:after="ApplyFilteredPatientsList" class="d-flex align-items-center">
        <div class="form-check me-3">
            <InputRadio class="form-check-input" id="showActive" Value="true" style="cursor: pointer;" />
            <label class="form-check-label" for="showActive">Show Active</label>
        </div>
        <div class="form-check">
            <InputRadio class="form-check-input" id="showAll" Value="false" style="cursor: pointer;"/>
            <label class="form-check-label" for="showAll">Show All</label>
        </div>
    </InputRadioGroup>
</div>

@if (FilteredPatientsList is null)
{
    <p>Loading...</p>
}
else if (!FilteredPatientsList.Any())
{
    <p>No patients found.</p>
}
else
{
    <table class="data-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Blood Type Needed</th>
                <th>Phone Number</th>
                <th>Country</th>
                <th>State</th>
                <th>District</th>
                <th>PinCode</th>
                <th>Full Address</th>
                <th>Action</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in FilteredPatientsList)
            {
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.Age</td>
                    <td>@patient.BloodTypeNeeded</td>
                    <td>@patient.PhoneNumber</td>
                    <td>@patient.Country</td>
                    <td>@patient.State</td>
                    <td>@patient.District</td>
                    <td>@patient.PinCode</td>
                    <td>@patient.Address</td>
                    <td>
                        <div class="d-flex gap-2">
                            @* <button class="btn btn-primary btn-sm" @onclick="() => OpenEditModal(patient)">
                                <i class="bi bi-pencil-square"></i>
                            </button> *@
                            <button class="btn btn-sm" @onclick="() => OpenEditModal(patient)">
                                    <EditViewIcon />
                            </button>

                            <button class="btn btn-danger btn-sm" @onclick="() => DeletePatient(patient.PatientID)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<!-- Modal Popup -->
@if (IsCreateUpdatePopup)
{
    <div class="modal-overlay">
        <div class="modal-content">
            <RegisterPatient SelectedPatientData="SelectedPatient" OnClose="HandleCancelOrClose" OnPatientUpdated="RefreshPatientList" IsCreateUpdatePatientPopup="IsCreateUpdatePopup" />
        </div>
    </div>
}
