@page "/registerPatient"
@inject IJSRuntime JSRuntime
@inject HttpClient Http

@if (IsLoading)
{
     <div class="loader-overlay">
          <div class="loader"></div>
     </div>
}
@if(IsCreateUpdatePatientPopup)
{
    <div class="position-relative">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" aria-label="Close" @onclick="HandleCancelOrClose"></button>
    </div>
}
<h4>@PageTitle</h4>
@if (!string.IsNullOrEmpty(Message))
{
    <p class="alert alert-info">@Message</p>
}
<EditForm Model="PatientModel" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">First Name:</label>
                <InputText class="form-control" @bind-Value="PatientModel.FirstName" tabindex="1" />
            </div>

            <div class="mb-3">
                <label class="form-label">Email:</label>
                <InputText class="form-control" @bind-Value="PatientModel.Email" tabindex="3" />
            </div>

            <div class="mb-3">
                <label class="form-label">Age:</label>
                <InputNumber class="form-control" @bind-Value="PatientModel.Age" tabindex="5" />
            </div>


            <div class="mb-3">
                <label class="form-label">Blood Type Needed:</label>
                <InputSelect class="form-control" @bind-Value="PatientModel.BloodTypeNeeded" tabindex="7">
                    <option value="">Select Blood Type</option>
                    @foreach (var bloodGroup in BloodGroupsList)
                    {
                        <option value="@bloodGroup">@bloodGroup</option>
                    }
                </InputSelect>
            </div>

             <div class="mb-3">
                <label class="form-label">State:</label>
                <InputText class="form-control" @bind-Value="PatientModel.State" tabindex="9" />
            </div>

            <div class="mb-3">
                <label class="form-label">Pin Code:</label>
                <InputText class="form-control" @bind-Value="PatientModel.PinCode" tabindex="11" />
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Last Name:</label>
                <InputText class="form-control" @bind-Value="PatientModel.LastName" tabindex="2" />
            </div>

            <div class="mb-3">
                <label class="form-label">Phone Number:</label>
                <InputText class="form-control" @bind-Value="PatientModel.PhoneNumber" tabindex="4" />
            </div>

            <div class="mb-3">
                <label class="form-label">Weight:</label>
                <InputNumber class="form-control" @bind-Value="PatientModel.Weight" tabindex="6" />
            </div>

            

            <div class="mb-3">
                <label class="form-label">Country:</label>
                <InputText class="form-control" @bind-Value="PatientModel.Country" tabindex="8" />
            </div>

            <div class="mb-3">
                <label class="form-label">District:</label>
                <InputText class="form-control" @bind-Value="PatientModel.District" tabindex="10" />
            </div>

            <div class="mb-3">
                <label class="form-label">Full Address:</label>
                <InputText class="form-control" @bind-Value="PatientModel.Address" tabindex="12" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center gap-3 mt-2">
          <button type="submit" class="btn btn-primary" tabindex="13">@ButtonName</button>
          <button type="button" class="btn btn-secondary" tabindex="13" @onclick="HandleClearRestore">@ClearResetButton</button>
          @* <button type="button" class="btn btn-secondary" tabindex="14" @onclick="HandleCancelButton">Cancel</button> *@
     </div>
</EditForm>
