@page "/registerUser"
@inject HttpClient Http

<h4>Register User</h4>
@if (!string.IsNullOrEmpty(Message))
{
    <p class="alert alert-info">@Message</p>
}
<EditForm Model="NewUser" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">First Name:</label>
                <InputText class="form-control" @bind-Value="NewUser.FirstName" tabindex="1" />
            </div>

            <div class="mb-3">
                <label class="form-label">Email:</label>
                <InputText class="form-control" type="email" @bind-Value="NewUser.Email" tabindex="3" />
            </div>

            @if(!HideInputField)
            {
                <div class="mb-3">
                    <label class="form-label">Password:</label>
                    <InputText class="form-control" type="password" @bind-Value="NewUser.PasswordHash" tabindex="4" />
               </div>
            }
            

            <div class="mb-3">
                <label class="form-label">Role:</label>
                <InputSelect class="form-control" @bind-Value="NewUser.Role" tabindex="7">
                    @foreach (var role in Roles)
                    {
                        <option value="@role.Value">@role.Value</option>
                    }
                </InputSelect>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
            <div class="mb-3">
                <label class="form-label">Last Name:</label>
                <InputText class="form-control" @bind-Value="NewUser.LastName" tabindex="2" />
            </div>

             <div class="mb-3">
                <label class="form-label">Phone Number:</label>
                <InputText class="form-control" @bind-Value="NewUser.Phone" tabindex="5" />
            </div>

            @if(!HideInputField){
                <div class="mb-3">
                    <label class="form-label">Confirm Password:</label>
                    <InputText class="form-control" type="password" @bind-Value="ConfirmPassword" tabindex="6" />
                </div>
            }
            <div class="mb-3">
                <label class="form-label">Full Address:</label>
                <InputText class="form-control" type="text" @bind-Value="NewUser.Address" tabindex="6" />
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center gap-3 mt-2">
        <button type="submit" class="btn btn-primary" tabindex="8">@SaveButtonTitle</button>
        <button type="button" class="btn btn-secondary" tabindex="9" @onclick="HandleClearReset">@ClearResetTitle</button>
        <button type="button" class="btn btn-secondary" tabindex="10" @onclick="HandleCancel">Cancel</button>
    </div>
</EditForm>