@page "/registerDonor"
@inject HttpClient Http
@inject IJSRuntime JSRuntime

@if (IsLoading)
{
     <LoaderComponent></LoaderComponent>
}

@if (IsCreateUpdateDonorPopup)
{
    <div class="position-relative">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" @onclick="HandleCancelOrClose"></button>
    </div>
}
<h4>@PageTitle</h4>

@if (!string.IsNullOrEmpty(Message))
{
    <p class="alert alert-info">@Message</p>
}

<EditForm Model="DonorModel" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <!-- First Column -->
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label">First Name:</label>
                <InputText class="form-control" @bind-Value="DonorModel.FirstName" tabindex="1" />
            </div>

            <div class="mb-3">
                <label class="form-label">Phone Number:</label>
                <InputText class="form-control" @bind-Value="DonorModel.Phone" tabindex="4" />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Gender:</label>
                <InputSelect class="form-control" @bind-Value="DonorModel.Gender" tabindex="7">
                    <option value="">Select Gender</option>
                    @foreach (var gender in GenderList)
                    {
                        <option value="@gender">@gender</option>
                    }
                </InputSelect>
            </div>

            <div class="mb-3">
                <label class="form-label">Last Donation Date:</label>
                <InputDate class="form-control" @bind-Value="DonorModel.LastDonationDate" tabindex="10" />
            </div>

            <div class="mb-3">
                <label class="form-label">District:</label>
                <InputText class="form-control" @bind-Value="DonorModel.District" tabindex="13" />
            </div>
            

            
        </div>
        
        <!-- Second Column -->
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label">Last Name:</label>
                <InputText class="form-control" @bind-Value="DonorModel.LastName" tabindex="2" />
            </div>

            <div class="mb-3">
                <label class="form-label">Age:</label>
                <InputNumber class="form-control" @bind-Value="DonorModel.Age" tabindex="5" />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Blood Group:</label>
                <InputSelect class="form-control" @bind-Value="DonorModel.BloodGroup" tabindex="8">
                    <option value="">Select Blood Group</option>
                    @foreach (var bloodType in BloodGroupsList)
                    {
                        <option value="@bloodType">@bloodType</option>
                    }
                </InputSelect>
            </div>

            <div class="mb-3">
                <label class="form-label">Country:</label>
                <InputText class="form-control" @bind-Value="DonorModel.Country" tabindex="11" />
            </div>
            <div class="mb-3">
                <label class="form-label">Pin Code:</label>
                <InputText class="form-control" @bind-Value="DonorModel.PinCode" tabindex="14" />
            </div>
        </div>

        <!-- Third Column -->
        <div class="col-md-4">

            <div class="mb-3">
                <label class="form-label">Email:</label>
                <InputText class="form-control" @bind-Value="DonorModel.Email" tabindex="3" />
            </div>
            <div class="mb-3">
                <label class="form-label">Weight (kg):</label>
                <InputNumber class="form-control" @bind-Value="DonorModel.Weight" tabindex="6" />
            </div>
            <div class="mb-3">
                <label class="form-label">Health Status:</label>
                <InputSelect class="form-control" @bind-Value="DonorModel.MedicalHistory" tabindex="9">
                    <option value="">Select Health Status</option>
                    @foreach (var healthStatus in HealthIssues)
                    {
                        <option value="@healthStatus">@healthStatus</option>
                    }
                </InputSelect>
            </div>
            
            <div class="mb-3">
                <label class="form-label">State:</label>
                <InputText class="form-control" @bind-Value="DonorModel.State" tabindex="12" />
            </div>
            
            
            <div class="mb-3">
                <label class="form-label">Full Address:</label>
                <InputText class="form-control" @bind-Value="DonorModel.Address" tabindex="15" />
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center gap-3 mt-2">
        <button type="submit" class="btn btn-primary" tabindex="15">@ButtonName <i class="fa fa-save"></i></button>
        <button type="button" class="btn btn-secondary" tabindex="16" @onclick="HandleClearRestore">@ClearResetButton <i class="fa fa-undo"></i></button>
    </div>
</EditForm>

